@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #484545;
  overflow-x: hidden;
}

.nav-header {
  position: relative; /*goes up than position fixed*/
  z-index: 2;

  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

#logo {
  font-family: "Abril fatface";
  color: white;
  font-size: 2rem;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem 0.4rem;
  background-color: white;
  pointer-events: none;
}

.burger {
  cursor: pointer;
}

.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.hero-image {
  position: relative;

  flex-basis: 25rem; /*flex basis 지정후에 flex 값을 줘야된다. 안그러면 flex basis 값 지정 안된다*/
  flex: 1;

  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-desc {
  position: relative;

  flex-basis: 25rem;
  flex: 1;

  padding-left: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: flex-start;
  font-family: "Abril fatface";
  font-size: 2rem;
  color: white;
}

.mountain-span {
  color: #ebe3d6;
  font-family: "Abril Fatface", sans-serif;
}

.hike-span {
  color: #e1caf1;
  font-family: "Abril Fatface", sans-serif;
}

.fashion-span {
  color: #f8d6d3;
  font-family: "Abril Fatface", sans-serif;
}

.hero-desc p {
  color: #dfdfdf;
  padding-top: 1.5rem;
  font-size: 1rem;
}

.explore {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 0.8rem;

  cursor: pointer;
  align-self: flex-start;
}

.nav-bar {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 2rem 0;
}
.contact {
  flex-basis: 30rem;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.reveal-image,
.reveal-text {
  position: absolute;

  z-index: 1;

  top: 0;
  left: 0;

  width: 110%;
  height: 130%;

  background-color: #484545;
}

.cursor {
  position: absolute;
  padding: 2rem 2rem;
  border: 1px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  z-index: -1;

  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 85% 85%;
}

.cursor.nav-active {
  background-color: #ebe3d6;
  transform: scale(2);
}

.cursor.explore-active {
  background-color: white;
  transform: scale(2);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background-color: #ebe3d6;
}

.t-swipe2 {
  background-color: #e1caf1;
}

.t-swipe3 {
  background-color: #f8d6d3;
}

body.hide {
  overflow: hidden;
}
.scrollmagic-pin-spacer {
  position: static !important; /*unclickable*/
}
